#control_bar
  Zoom:
  %a{ :id => 'zoom_in' } In 
  %a{ :id => 'zoom_out'} Out

  Pan:
  %a{ :id => 'pan_up' } Up
  %a{ :id => 'pan_down' } Down
  %a{ :id => 'pan_left' } Left
  %a{ :id => 'pan_right' } Right

#view_container

  #palette
    = image_tag 'bg.jpg'  