// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a {
  color: #0d85d0;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

#view_container {
  margin: 1em;
  width: 400px;
  height: 571px;
  border: thin solid #000;
  overflow: hidden;
  position: relative;
}

#palette {
  width: 150%;
  height: 150%;

  position: absolute;

  top: 0;
  left: 0;

  img {
    width: 100%;
  }
}