!!! 5
%html
  %head
    %title
      - if content_for?(:title)
        = yield(:title)
      - else

    = stylesheet_link_tag 'application'
    = csrf_meta_tags

  %body

    - flash.each do |key, value|
      .flash{ :id => key }
        = value

    = yield

    = javascript_include_tag 'application'